.createToDoButton{
    margin: 0 auto;
    display:flex;
    padding:15px 20px 15px 20px;
    font-size: 1.4rem;
    background-color: transparent;
    border: none;
    opacity: 1;
    transition: opacity 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(0);
    transition:0.5s transform;
    z-index: 1;
    position:relative;
}

.createToDoButton:hover{
    transform: rotate(50deg);
    transition: 0.5s ease;
}
img{
    opacity: 1;
    transition: opacity 1s;
}
img:hover{
    opacity: 0.8;
    transition: opacity 1s;
    cursor: pointer;
}